@page
@model EmojisModel
@{
    ViewData["Title"] = "Emojis";
}
<h1>@ViewData["Title"]</h1>
<div class="allEmojis">
    @foreach (var em in Model.Emojis)
    {
        <div class="emoji">
            <img src="@em.Url" alt="emoji @em.Key" />
            <code>@em.Key</code>
        </div>
    }
</div>
